@use 'base/variables' as v;
@use 'base/mixins' as m;


// .navbar{
//     background-color: v.$gris-oscuro;
//     padding: 2rem;
// }
// .navbar-principal{
//     background-color: #1a1b15;
//     padding: 2rem;
// }

// button.navbar-toggler{
//     color: v.$blanco;
// }

// // .nav-link{
// //     all: unset;
// //     color: v.$blanco;
// //     &:hover{
// //         background-color: v.$gris-claro;
// //         padding: 1rem;
// //         border-radius: 1rem;
// //         color: v.$gris-oscuro;
// //     }
// // }

// .nav-item{
//     padding-right: 2rem;
//     margin: 2rem 0;
// }

// input.nav-link{
//     all: unset;
//     color: v.$blanco;
// }


// .icon-menu{
//     font-size: 3rem;
// }

// .navbar-logo{
//     width: 13rem;
// }





////////////////////////////////////////////////

.menu{
    width: 100%; /* Ancho del div */
    height: 60vh; /* Altura del div */
    background-image: url('../img/CCM.png'); /* Ruta a la imagen */
    background-size: cover; /* Escalar la imagen para cubrir el div */
    background-position: center; /* Centrar la imagen en el div */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    border-radius: 0 0 2rem 2rem;
    padding: 1.4rem 3rem;
    display: flex;
    flex-direction: column; /* Apilar los elementos verticalmente */
    justify-content: space-between; /* Espacio entre los elementos */
    @include m.desktop {
         height: 90vh; 
    }
}

.navbar-inicio{
background-color: #1e293b6f;
border-radius: 2rem;
padding: 2rem;
-webkit-box-shadow: 0px 18px 33px -4px rgba(255,0,0,0.65);
-moz-box-shadow: 0px 18px 33px -4px rgba(255,0,0,0.65);
box-shadow: 0px 18px 33px -4px rgba(255,0,0,0.65);

}

.navbar-inicio-logo {
width: 120px; /* Ancho deseado */
height: auto; /* Mantener la proporción */
padding-left: 1rem;
}

.collapse{
    padding-top: 2rem;
    @include m.tablet {
         padding: 0; 
    }
}

.nav-link-menu{
font-size: 1.5rem;
color: white;
margin-right: 2rem;
font-weight: v.$bold;
padding-bottom: 2rem;
&:hover{
    color: v.$blanco;
    text-decoration: underline;
}
@include m.tablet {
     padding-bottom: 0; 
}
}

.icono-menu{
font-size: 1.7rem;
color: white;
}

.texto-inicio {
    background-color: #1e293bcd; /* Color de fondo semi-transparente */
    padding: 2rem ; /* Espaciado interno */
    margin-bottom: 5rem;
    border-radius: 1rem; /* Borde redondeado */
    color: v.$blanco;
    font-weight: v.$bold;
    text-align: center;
    font-size: 2rem;
    @include m.desktop {
         font-size: 4rem;
         margin-right: 70%; 
         text-align: left;
    }
    @include m.tablet {
         margin-right: 60%; 
    }

}

.navbar-toggler{
    border: none;
}