@use 'base/mixins' as m;
@use 'base/variables' as v;

.hero{
    width: 100%; /* Ancho del div */
    height: 70vh; /* Altura del div */
    
    background-image: url('../img/hero.webp'); /* Ruta a la imagen */
    background-size: cover; /* Escalar la imagen para cubrir el div */
    background-position: top center; /* Centrar la imagen en el div */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    border-radius: 0 0 2rem 2rem;
    @include m.tablet {
         height: 90vh; 
    }
}
.contenedor-paginas{
    padding: 3rem 2rem;
    display: flex;
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan en dispositivos pequeños */
        gap: 10px; /* Espacio entre las columnas */
    @include m.tablet {
        padding: 3rem 10rem;
    }
}



.titulo-inicio{
    width: 100%; /* Ancho completo en dispositivos pequeños */
    text-align: center; /* Alinear el texto al centro */
    text-transform: uppercase;
    font-size: 2.7rem;
    @include m.tablet {
        text-align: left;
         font-size: 3.5rem;
         padding-top: 5rem;
    }

    &--2{
        text-align: center;
        @include m.tablet {
            text-align: right;
            padding-right: 20rem; 
        }
    }
}

.columnas {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding: 1rem 1rem; /* Espaciado interno */
    display: flex; /* Utilizar flexbox para el contenido interno */
        flex-direction: column; /* Alinear el contenido en columna */
        // align-items: center; /* Centrar el contenido horizontalmente */
        justify-content: center; /* Centrar el contenido verticalmente */
    width: 100%;
    @include m.tablet {
         width: 50%; 
    }

    &__grid{
        background-color: aqua;
    }
}

.subtitulo-inicio{
    text-decoration: underline;
    font-size: 2.5rem;
    text-align: left;
    @include m.tablet {
         font-size: 3rem; 
    }
    
}

.descripcion-inicio{
    font-size: 2rem;
    line-height: 2.5;
    &--2{
        line-height: 2;
    }
}

.imagen-mapa{
    width: 30rem; /* Ancho deseado */
height: auto; /* Mantener la proporción */
@include m.tablet {
     width: 60rem; 
}
}
.imagen-linea{
visibility: hidden;
@include m.tablet {
    visibility: visible;
    height: auto;
     width: 120rem; 
     padding: 5rem 10rem;
}
}

.texto-ccm{
    font-size: 2.3rem;
    text-align: justify;
    
}
.firma-ceo{
    font-size: 2rem;
    font-weight: lighter;
    text-align: right !important;
}

.video{
    width: auto;
    height: 50rem;
}


.columnas-1{
    background-color: v.$gris-claro;
    padding: 0;
    -webkit-box-shadow: 13px 17px 26px -11px rgb(0, 0, 0);
-moz-box-shadow: 13px 17px 26px -11px rgb(0, 0, 0);
box-shadow: 13px 17px 26px -11px rgb(0, 0, 0);

}

.contenido-carta-inicio{
    padding: 2rem 1rem 4rem 1rem;
}


.boton-carta-inicio{
    background-color: v.$gris-oscuro;
    padding: 1rem 4rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    color: white;
    font-weight: v.$bold;
    text-align: center;
    

    @include m.tablet {
        width: 40%;
    }

    &:hover{
        border: 2px solid v.$gris-oscuro;
        color: v.$gris-oscuro;
        background-color: v.$gris-claro;
    }
}

.titulo-carta-inicio{
    font-size: 2rem;
    text-align: center;
    @include m.tablet {
         font-size: 3rem; 
         text-align: left;
    }
}


.contenedor-paginas-nosotros{
    padding: 3rem 2rem;
    display: flex;
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan en dispositivos pequeños */
        gap: 10px; /* Espacio entre las columnas */
        width: 100%;
    @include m.tablet {
        padding: 5rem 10rem;
    }
}