@use 'base/mixins' as m;
@use 'base/variables' as v;


// .dashboard{

//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     background-color: v.$gris-claro;
    
//     &__heading{
//         font-size: 3rem;
//         @include m.tablet {
//             font-size: 5rem; 
//         }
//     }

//     &__header{
//         background-color: v.$gris-oscuro;
//         padding: 2rem ;
//     }

//     &__header-grid{
//         display: flex;
//         flex-direction: column;
//         @include m.tablet {
//              flex-direction: row; 
//             justify-content: space-between;
//             align-items: center;
//         }
//     }
//     &__logo{
//         width: 12rem;
//         @include m.tablet {
//              width: 18rem; 
//         }
//     }

//     &__form{
//         padding-right: 2rem
//     }
//     &__submit--logout{
//         @include m.enlace;
//     }

//     &__grid{
//         display: flex;
//         flex: 1;
//         overflow-y: auto;
//     }
//     &__sidebar{
//         border:2px solid  v.$gris-oscuro;
//         border-radius: 1rem;
//         width: 10rem;
//         @include m.tablet {
//               width: 50rem;
//               margin: 1rem;
//               padding: 2rem;

//         }
        
//     }
//     &__menu{
//         padding: 1rem;
//         display: flex;
//         flex-direction: column;
//         gap: 1rem;
//     }
//     &__enlace{
//         color: lighten(v.$gris-oscuro, 40);
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         padding: 2rem 6rem;
//         transition: 300ms background-color ease-in-out, 300ms color ease, 300ms border-radius ease;
//         &:hover{
//             background-color: lighten(v.$gris-oscuro, 20);
//             color: v.$blanco;
//             border-radius: 1rem;
//         }
//         &--actual{
//             text-decoration: underline 2px;

//             @include m.tablet {
//                 border: 1px solid v.$blanco;
//                 color: v.$blanco;
//                 padding: 1rem 5rem;
//                 border-radius: 1rem;
//                 text-decoration: none;
//             }
//         }
//     }
//     &__icono{
//         font-size: 2.5rem;
//     }
//     &__menu-texto{
//         font-size: 1.1rem;
//         text-transform: uppercase;
//         font-weight: v.$bold;
//         margin-top: .5rem;
//     }
//     &__contenido{
//         padding: 1rem 1rem 3rem 1rem;
//         width: 100%;
//         background-color: v.$gris-claro;
//         overflow-y: scroll;
//         @include m.tablet {
//              padding: 1rem 5rem 3rem 5rem; 
//         }
//     }

//     &__contenedor-boton{
//         padding-bottom: 2rem;
//         @include m.tablet {
//               display: flex;
//               justify-content: flex-end;
//               margin-bottom: 0;
//         }
//     }
//     &__boton{
//         @include m.boton(v.$azul, v.$blanco);
//         text-transform: uppercase;
//         font-size: 1.4rem;
//         &:hover{
//             background-color: v.$blanco;
//             border: 1px solid v.$azul;
//         }

//         @include m.tablet {
//             width: auto;
//         }
//     }

//     &__contenedor{
//         @include m.shadow;
//         background-color: v.$blanco;
//         padding: 2rem ;
//         border-radius: 1rem;
//     }

//     &__formulario{
//         @extend .dashboard__contenedor;
//         @include m.contenedor-md;
//     }

// }

// .card-inicio{
//     padding-bottom: 2rem;
// }
// .card-admin{
//     padding: 2rem;
//     -webkit-box-shadow: 6px 6px 5px 0px rgba(163,180,207,1);
//     -moz-box-shadow: 6px 6px 5px 0px rgba(163,180,207,1);
//     box-shadow: 6px 6px 5px 0px rgba(163,180,207,1);
//     &:hover{
//         background-color: v.$gris-oscuro;
//         .card-title{
//             color: v.$blanco;
//         }
//     }
// }

// .card-col{
//     padding: 2rem;
//     -webkit-box-shadow: 6px 6px 5px 0px rgba(163,180,207,1);
//     -moz-box-shadow: 6px 6px 5px 0px rgba(163,180,207,1);
//     box-shadow: 6px 6px 5px 0px rgba(163,180,207,1);
//     &:hover{
//         .card-title{
//             color: v.$gris-oscuro;
//         }
//     }
// }

// .card-indicador{
//     padding: 0.3rem;
//     -webkit-box-shadow: 6px 6px 5px 0px rgba(163,180,207,1);
//     -moz-box-shadow: 6px 6px 5px 0px rgba(163,180,207,1);
//     box-shadow: 6px 6px 5px 0px rgba(163,180,207,1);

//     &__fecha{
//         // background-color: #FFA500 ;
//         background-color: #ffa6009a ;
//         color: v.$blanco;
//     }
//     &__activos{
//         // background-color: #FFD700;
//         background-color: #ffd90096;
//     }
//     &__vacaciones{
//         // background-color: #FF6347 ;
//         background-color: #ff63478f ;
//     }
// }

// .card-title{
//     font-size: 2.8rem;
//     text-align: center;
//     font-weight: v.$black;
//     color: v.$gris;
// }
// .card-title2{
//     font-size: 2rem;
//     text-align: center;
//     font-weight: v.$black;
//     color: v.$gris-oscuro;
// }
// .card-numero{
//     font-size: 2rem;
//     text-align: center;
//     font-weight: v.$black;
//     color: v.$gris-oscuro;
// }

// .navbar-toggler-icon{
//     width: 3rem;
//     height: 3rem;
// }


.contenedor-admin{
    padding: 1rem 3rem;
    &__fecha{
        font-size: 2rem;
        text-align: center;
        color: v.$blanco;
    }
    @include m.tablet {
         padding: 1rem 4rem; 
    }

    &__titulo{
        text-align: center;
        text-decoration: underline;
        padding-bottom: 1rem;
        font-size: 3rem;
        @include m.tablet {
             font-size: 5rem; 
        }
    }
}

.icono-admin{
    padding-right: 1rem;
}

.card-dashboard{
    background-color: v.$gris-oscuro;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.1rem;
}

.card-admin{
    background-color: #c23535;
    margin-bottom: 1rem;
    padding: 3rem 0;
    border-radius: 1rem;
}

.card-title{
    text-align: center;
    font-size: 2.4rem;
    color: v.$blanco;
    @include m.tablet {
         font-size: 3rem; 
    }
}


.boton-acciones{
    background-color: v.$gris-oscuro;
    padding: 1rem;
    text-align: center;

    &__texto{
        color: v.$blanco;
    }
}